html {
	position: relative;
	overflow-x: hidden;   
 /*HIDES ANY ADDITIONAL 
	SCROLLING STUFF ON X AXIS SO BOTTOM DIV CAN BE AS LARGE AS 
	YOU WANT WITHOUT NEED TO SCROLL */
	
 	min-height: 100%;
 

	}

body {margin: 0 0 800px; /*MAKES PAGE 800px total (I think) */}

#tr {float: right;}

/* MAKES LIST HORIZONTAL and spaced */

#tr li {display: inline;}

#toplinks li {
	display: inline;
	list-style-type: none; 
	margin-left: 25px;	
	
}

#toplinks a:link {
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
}

#bottom a:link {
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
   	min-height: 100%;

}

#Tleft {
	position: absolute;
	float: left;
	margin-top: -53px;
	margin-left: 190px;
}

#Tright {
	position: absolute;
	float: left;
	margin-top: -53px;
	margin-left: 640px;
}

#All a:link {
	position: absolute;
	float: left;
   	padding: 14px;
	margin-top: -46px;
	margin-left: 130px;
 	font-family: Arial;
   	font-size: 12px; 
   	font-weight: bold;
   	color: rgb(66,135,245);
   	border-bottom: 3px solid rgb(66,135,245); 
  	
	}

#All a:visited {color: rgb(66,135,245);} 


li#All a:visited { 
	color: rgb(66,135,245);

	
}

/* SEARCH RESULTS */

#brag {
	position: absolute;
	float: left;
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
	margin-left: 170px;
}

#results {
	
	position: absolute;
	list-style-type: none; 
	margin-left: 25px;	
	margin-top: 35px;
	float: left;
	font-family: Arial;
   	font-size: 12px;
	margin-left: 170px;


}



.head a:link {

	clear: both;
	text-decoration: none;
	font-size: 18px;
	margin-top: auto;
}

.head a:hover {text-decoration: underline;}

.slinks {
	position: relative;
	clear: both;
	color: green;
	list-style-type: none;
	text-decoration: none;
	font-size: 14px;


	}



.desc {
	position: relative;
	clear: both;
	list-style-type: none;
	margin-top: auto;
	font-size: 13px;
	color: #6F78A5;

	
}




	
/*Google logo */
#logo {
	float: left;
	margin: 25px 0px 0px 15px;
 }


/* Search Bar */
#bar {
	position: absolute;
	clear: both;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 15px;
	box-shadow:0px 1px 3px #B2B4BA;
	width: 632px;
	height: 44px;
	border: 1px;
	outline: none;
	font-size: 16px;
	text-indent: 15px;
	transition: box-shadow 0.1s ease-in-out 0s;
}

/* Mic Image */
#mic {
	position: absolute;
	margin-left: 705px;
	margin-top: 14px;
}

/* Mag Glass Image */
#glass {
	position: absolute;
	margin-left: 744px;
	margin-top: 14px;
}

#top {	
	background-color: #FAFAFA;
	border: 1px solid #E4E4E4;
	height: 125px;
}

#bar:hover{
	box-shadow:0px 3px 6px #B2B4BA;

}

#GSearch {
	border: none;
	height: 36px;
	width: 125px;
	background-color: #F7F7F7;
	color: gray;
	font-weight: bold;

}



#GSearch:hover{
	border: 1px solid #afaf83; 
	color: black;
	box-shadow:0px 0px 1px #B2B4BA;
	background: -webkit-linear-gradient(left, #f7f7f7 0%, #F6F6F6 100%); 

}

#Lucky {
	border: none;
	margin-left: 5px;
	height: 36px;
	width: 145px;
	background-color: #F7F7F7;
	color: gray;
	font-weight: bold;
}

#Lucky:hover{
	border: 1px solid #afaf83; 
	color: black;
	box-shadow:0px 0px 1px #B2B4BA;
	background: -webkit-linear-gradient(left, #f7f7f7 0%, #F6F6F6 100%); 
}

#botimg {
	position: absolute;
	margin: -100px 0px 0px 310px;



}

#bottom {	/** Sticky Footer sort of **/
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 85px;
	background-color: #F2F2F2;
	border: 1px solid #E4E4E4;
	
  }

#Bleft {
	margin: 55px 0px 0px 150px;
}

#Bleft li {
	position: relative;
	list-style-type: none; 	
	display: inline;
    padding: 15px;
}





#toplinks a:link {text-decoration: none;}

#toplinks a:hover {color: black;}

#bottom a:link {
	text-decoration: none;
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
}

#bottom a:visited {
	text-decoration: none;
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
}

#bottom a:hover {color: black;}


/* Removes X from search bar */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



