html, body {
	margin: auto; /*STRETCHES PAGE ALL THE WAY ACROSS */
	overflow-x: hidden; 
	overflow-y: hidden; /*HIDES ANY ADDITIONAL 
	SCROLLING STUFF ON Y AXIS SO BOTTOM DIV CAN BE AS LARGE AS 
	YOU WANT WITHOUT NEED TO SCROLL */
	
	}

#tr {float: right;}

/* MAKES LIST HORIZONTAL and spaced */

#tr li {display: inline;}

#toplinks li {
	display: inline;
	list-style-type: none; 
	margin-left: 25px;	
	
}

#Tleft {
		position: fixed;
	float: left;
	margin-top: -53px;
	margin-left: 190px;
}

#Tright {
	position: fixed;
	float: left;
	margin-top: -53px;
	margin-left: 640px;
}

#All a:link {
	position: fixed;
	float: left;
   	padding: 14px;
	margin-top: -46px;
	margin-left: 130px;
 	font-family: Arial;
   	font-size: 12px; 
   	font-weight: bold;
   	color: rgb(66,135,245);
   	border-bottom: 3px solid rgb(66,135,245); 
 
 	
	}

#All a:visited {color: rgb(66,135,245);} 


li#All a:visited { 
	color: rgb(66,135,245);
	;
	
}
	
/*Google logo */
#logo {
	float: left;
	margin: 25px 0px 0px 15px;
 }


/* Search Bar */
#bar {
	position: fixed;
	clear: both;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 15px;
	box-shadow:0px 1px 3px #B2B4BA;
	width: 632px;
	height: 44px;
	border: 1px;
	outline: none;
	font-size: 16px;
	text-indent: 15px;
	transition: box-shadow 0.1s ease-in-out 0s;
}

/* Mic Image */
#mic {
	position: fixed;
	margin-left: 705px;
	margin-top: 14px;
}

/* Mag Glass Image */
#glass {
	position: fixed;
	margin-left: 744px;
	margin-top: 14px;
}

#top {	
	background-color: #FAFAFA;
	border: 1px solid #E4E4E4;
	height: 125px;
}

#bar:hover{
	box-shadow:0px 3px 6px #B2B4BA;

}

#GSearch {
	border: none;
	height: 36px;
	width: 125px;
	background-color: #F7F7F7;
	color: gray;
	font-weight: bold;

}



#GSearch:hover{
	border: 1px solid #afaf83; 
	color: black;
	box-shadow:0px 0px 1px #B2B4BA;
	background: -webkit-linear-gradient(left, #f7f7f7 0%, #F6F6F6 100%); 

}

#Lucky {
	border: none;
	margin-left: 5px;
	height: 36px;
	width: 145px;
	background-color: #F7F7F7;
	color: gray;
	font-weight: bold;
}

#Lucky:hover{
	border: 1px solid #afaf83; 
	color: black;
	box-shadow:0px 0px 1px #B2B4BA;
	background: -webkit-linear-gradient(left, #f7f7f7 0%, #F6F6F6 100%); 
}

#bottom {	
 margin-top: 165px;
 background-color: #F2F2F2;
 height: 50px;
 border: 1px solid #E4E4E4;
 overflow: hidden;



  }

#Bleft li {
	float: left;
	list-style-type: none; 	
	display: inline;
    padding: 15px;
    margin: -5px -5px 0px 10px;


}

#Bright li {
	float: right;
	list-style-type: none; 	
	display: inline;
    padding: 15px;
    margin: -5px 10px 0px -10px;;

}




a {
	font-family: Arial;
   	font-size: 12px;
   	color: #6F78A5;
   	}

a:link {text-decoration: none;}



a:hover {color: black;}


/* Removes X from search bar */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



